on: push

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./build.ps1
      - uses: actions/upload-artifact@v4
        with:
          name: Build artifacts
          path: build/*.nupkg
      - if: startsWith(github.ref, 'refs/tags/v')
        run: |
          dotnet nuget push build\*.nupkg `
            --api-key ${{ secrets.NUGET_API_KEY }} `
            --source https://api.nuget.org/v3/index.json `
            --skip-duplicate
